[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
boxhead = {editable = true, path = "."}

[dev-packages]
types-setuptools = "*"
types-pyyaml = "*"

[requires]
python_version = "3.9"
